{% extends "base.html" %}

{% block content %} 

<main role="main" class="inner cover">
    <h1 class="cover-heading">YouTube Video Downloader</h1>
    <p class="lead">The Slowest YouTube Video Downloader Ever</p>
    <p class="lead">
        <form action="/download" method="post">
            <input type="text" class="form-control" placeholder="Enter video url here" name="url">
            <button type="submit" class="btn btn-success mt-3">Download</button>
        </form>
    </p>
</main>

{% endblock %}